@page
@model GymMasterPro.Pages.Trainers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trainer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
