@page
@model GymMasterPro.Pages.Memberships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
